*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    
}
header img{
    width: 150px;
    height: auto;
    padding-left: 50px;
}
header div{
    width: 200px;
    height: 100%;
}
.navheader{
    width: 300px;
    height: 100%;
    padding-top: 10px;
    margin-top: 10px;
}
.navheader i{
    margin-right: 15px;
}
.navheader button{
    margin-right: 10px;
}
#profilo{
    border-radius:50%;
    width:10%;
    background-color: coral;
    border: none;
    width: 25px;
    height: 25px;
}
.sopratesto{
    display: flex;
    align-items: center;
}
.sopratesto h5{
    display: inline-block;
    margin-bottom: 3px;
}
.sopratesto img{
    height: 20px;
}
#membership{
    border-radius: 20px;
    background-color: white;
    width: 135px;
    height: 25px;
}
#superconteiner{
    display: flex;
    width: 100%;
    margin-top: 50px;
}
.notizie{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.side{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.immagine img{
    width: 100%;
    height: 100%;
}
.sottotesto{
    font-size: x-small;
    color: grey;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.sottotesto a{
    background-color: rgba(203, 202, 202, 0.938);
    border-radius: 10px;
    margin-left: 10px;
    color: grey;
    text-decoration: none;
}
.a{width: 100%; height: 250px; display: flex;padding: 50px;}
.b{
    width: 100%;
    height: 250px;
}
.c{
    width: 100%; 
    height: 250px;    
}
.c h4{
    margin:20px 0 20px 30px;
}
.c button{
    width: 150px;
    height: 25px;
    border-radius: 20px;
    margin: 0 20px 20px 25px;
    border: none;
    background-color: rgb(218, 218, 218);
}
.d{
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    
}
aside{
    width: 100%;
    height: 150vh;  
    display: flex; 
    align-items: center;
    border-left: 1px solid rgb(188, 188, 188);
}
.testo{width: 70%;height: 100%;}
.immagine{width:40%;height: 100%;}
.logo-aside{
    background-color:white;
    width:100%;
    height:25%;
    display: flex;
    justify-content: center;
}
.logo-aside img{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.testo-aside{
    text-align: center;
}
.button-aside img{
    width: 20px;
}
.button-aside button{
    border-radius: 20px;
    border: 5px;
}
.link-aside a{
    color: grey;
}
.testo-aside{
    width:100%;
    height:25%;}
.button-aside{
    width:100%;
    height:25%;
}
.link.aside{
    width:100%;
    height: 25%;
}
.ts-container{
}
.ts-content{
    display: flex; 
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px;  
    justify-content: space-between; 
    align-content: center;        
}
.ts-img{
    width: 50px;
}
.ts-img img{
    width:100%;
    height: 50px;
    border-radius: 50%;
}
.ts-txt{
    width: 50%;
}
.ts-txt p{
    font-size: smaller;
    color: grey;
    text-wrap: wrap;
    width: 100%;
}
.ts-btn{
    margin-right: 0; 
}
.ts-btn button{
    width: 90px;
    border-radius: 20px;
    background-color: white;
}
.bor-bot{
    border-bottom: 1px solid rgb(188, 188, 188);
}
